:root {
    // Primary

    --Green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%);

    // Neutral

    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);

    // Typography

    //Body Copy

    --Font-size-paragraph: 14px;
}

@mixin montserrat($weight) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
}

@mixin frances() {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
    letter-spacing: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 1.4rem;
    background-color: var(--Cream);

    @include montserrat(500);
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section {
    width: 34.5rem;
    margin: 3rem 0;
    border-radius: 1rem;
    background-color: var(--White);

    display: flex;
    flex-direction: column;
    gap: 2rem;

    $padding: 2.5rem;

    &__card-header {
        width: 100%;
    }

    &__card-body {
        width: 100%;
        padding: 0 $padding $padding;

        display: flex;
        flex-direction: column;
        gap: 1.4rem;
    }

    @media screen and (min-width: 768px) {
        $width: 60rem;
        $padding: 3.5rem;
        width: $width;
        gap: 0;

        &__card-header {
            width: calc($width / 2);
        }

        &__card-body {
            justify-content: space-between;
            width: calc($width / 2);
            padding: $padding;
        }
    }
}

.product {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }

    &__image {
        width: 100%;
        height: auto;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media screen and (max-width: 767px) {
            &--mobile {
                display: block;
                border-top-right-radius: 1rem;
                border-top-left-radius: 1rem;
            }

            &--desktop {
                display: none;
            }
        }

        @media screen and (min-width: 768px) {
            &--mobile {
                display: none;
            }

            &--desktop {
                display: block;
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
            }
        }

        //&--mobile {}

        //&--desktop {}
    }

    &__category {
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-size: 1.2rem;
        color: var(--Grey);
    }

    &__name {
        font-size: 3.2rem;
        color: var(--Black);
        @include frances();

        @media screen and (min-width: 768px) {
            line-height: 1;
        }
    }

    &__description {
        line-height: 1.8;
        color: var(--Grey);

        @media screen and (min-width: 768px) {
            line-height: 1.7;
        }
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 3rem;

        &__current {
            font-size: 3.2rem;
            font-weight: 700;
            color: var(--Green-500);
            @include frances();
        }

        &__table {
            text-decoration: line-through;
            color: var(--Grey);
        }
    }
}

.button {
    border: none;
    cursor: pointer;
}

.button-add-to-cart {
    padding: 1.6rem;
    width: 100%;
    border-radius: 0.8rem;
    background-color: var(--Green-500);
    color: var(--White);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &:hover {
        background-color: var(--Green-700);
    }
}

.footer {
    padding: 3rem 0;

    &__attribution {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            gap: 3rem;
        }

        &__info {
            font-size: 11px;
            text-align: center;

            a {
                color: hsl(228, 45%, 44%);
            }
        }
    }
}
